.ant-layout {
  min-height: 100vh !important;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}

.ant-layout-content {
  padding: 50px;
}

.layout__container {
  min-height: 100vh;
}
